body {
  background-color: #ffe8df;
}


/* Section Header */

.navbar {
  background-color: #ffe8df;
  margin-bottom: 0px;
  padding-left: 10%;
  padding-top: 0%;
}

/* Color option selection #dddddd #f1d1d1 #ffe8df */

.nav-item {
  padding: 0 5px;
}

.dropdown-menu {
  background-color: #ffe8df;
}

.dropdown-item:hover {
  background-color: #ddd;
  text-decoration: underline;
}

.nav-item:hover {
  background-color: #ddd;
  text-decoration: underline;
}

.nav-link {
  font-size: 1rem;
  font-weight: light;
}

.form-inline {
  position: relative;
}

#title {
  background-image: url("../images/Food1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#title .container-fluid {
  padding: 5% 10% 5% 26%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: #ffecc7;
  font-style: italic;
  font-size: 1.4rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 20%;
  height: 30%;
}

/* Sign Up */

#signup {
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0;
}
.bottom{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
